1 Read the Rounds2, companies.txt files.

In [42]:
import pandas as pd

# Provide the full local file path
file_path = r"E:\! GL PGP DSE\Python NPV Project Group 6\Project 2-2-1\Project 2\Dataset\rounds2 (1).csv"

# Read the CSV file with 'latin-1' encoding
df_rounds2 = pd.read_csv(file_path, encoding='latin-1')

In [43]:
df_rounds2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [44]:
file_path_txt = "E:\! GL PGP DSE\Python NPV Project Group 6\Project 2-2-1\Project 2\Dataset\companies (1).txt"

# Read the data from "companies.txt" into a DataFrame
# Assuming the data is tab-separated, if it's a different delimiter, specify it using 'delimiter' parameter
df_companies = pd.read_csv(file_path_txt, sep='\t', encoding='unicode_escape')

In [45]:
df_companies

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
...,...,...,...,...,...,...,...,...,...,...
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃÂEron,ÃÂERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/ÃâAsys-2,Ãâasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/ÃÂ°Novatiff-Reklam-Ve-TanÃ¤Â±TÃ...,ÃÂ°novatiff Reklam ve TanÃÂ±tÃÂ±m Hizmetler...,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

2. How many unique companies are present in rounds2?

In [46]:
unique_companies_rounds2 = df_rounds2['company_permalink'].nunique()

print("Number of unique companies in rounds2: ", unique_companies_rounds2)

Number of unique companies in rounds2:  90247

3. How many unique companies are present in the companies file?

In [47]:
unique_companies_companies = df_companies['permalink'].nunique()

print("Number of unique companies in the companies file:", unique_companies_companies)

Number of unique companies in the companies file: 66368

4. Write the code to convert companies[‘permalink’] and Round2[‘company_permalink’] columns
to uppercase.

In [48]:
# Convert 'company_permalink' column to uppercase in the df_rounds2 DataFrame
df_rounds2['company_permalink'] = df_rounds2['company_permalink'].str.upper()

# Display the DataFrame to check if the 'company_permalink' column has been converted to uppercase
display(df_rounds2.head())

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [49]:
# Convert 'permalink' column to uppercase in the df_companies DataFrame
df_companies['permalink'] = df_companies['permalink'].str.upper()

# Display the DataFrame to check if the 'company_permalink' column has been converted to uppercase
display(df_companies.head())

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

5. Are there any companies in the rounds2 file which are not present in companies.txt ?

In [50]:
# Perform a left join between df_rounds2 and df_companies on the 'company_permalink' column
merged_df = df_rounds2.merge(df_companies, how='left', left_on='company_permalink', right_on='permalink')

# Find rows where the 'permalink' column is NaN (indicating that the company is not in companies.txt)
missing_companies = merged_df[merged_df['permalink'].isna()]

# Check if there are any missing companies
if missing_companies.empty:
    print("There are no companies in rounds2 that are not present in companies.txt.")
else:
    print("There are companies in rounds2 that are not present in companies.txt.")

There are companies in rounds2 that are not present in companies.txt.

In [51]:
merged_df.nunique()

company_permalink           66370
funding_round_permalink    114949
funding_round_type             14
funding_round_code              8
funded_at                    5033
raised_amount_usd           22095
permalink                   66300
name                        66034
homepage_url                61131
category_list               27277
status                          4
country_code                  137
state_code                    311
region                       1092
city                         5105
founded_at                   3977
dtype: int64

In [52]:
missing_companies.nunique()

company_permalink          70
funding_round_permalink    74
funding_round_type          8
funding_round_code          2
funded_at                  66
raised_amount_usd          38
permalink                   0
name                        0
homepage_url                0
category_list               0
status                      0
country_code                0
state_code                  0
region                      0
city                        0
founded_at                  0
dtype: int64

In [53]:
print(merged_df['permalink'].isna().sum())

74

6. Merge the two data frames so that all variables (columns) in the company's frame are added
to the rounds2 data frame. Name the merged frame master_dataframe. How many observations
are present in master_frame ?

In [54]:
# Merge df_rounds2 with df_companies based on the 'company_permalink' column
master_dataframe = df_rounds2.merge(df_companies, how='left', left_on='company_permalink', right_on='permalink')

# Count the number of observations in master_dataframe
num_observations = master_dataframe.shape[0]

# Print the number of observations
print("Number of observations in master_frame:", num_observations)

Number of observations in master_frame: 114949

In [55]:
master_dataframe.duplicated().sum()

0

7. Write the code to drop the redundant column ‘'company_permalink' from the
master_dataframe.

In [56]:
# Drop the 'company_permalink' column from master_dataframe, suppress errors if it doesn't exist
master_dataframe = master_dataframe.drop('company_permalink', axis=1, errors='ignore')

# Display the updated DataFrame in a tabular format
master_dataframe

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114945,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114946,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114947,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114948,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

8. Write the code to find the percentage missing value (column-wise) in master_dataframe. Drop
unnecessary columns.

In [57]:
# master_dataframe.isnull(): This part of the code creates a Boolean DataFrame of the same shape as master_dataframe, where each
# element is True if the corresponding element in the original DataFrame is NaN (missing) and False otherwise.

# .sum(): This part of the code sums the True values (which represent missing values) in the Boolean DataFrame for each column. 
# As a result, you get a Series with the count of missing values for each column.

master_dataframe.isnull().sum()

funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
permalink                     74
name                          75
homepage_url                6200
category_list               3461
status                        74
country_code                8711
state_code                 10977
region                     10200
city                       10197
founded_at                 20562
dtype: int64

In [58]:
# / len(master_dataframe): This part of the code divides the count of missing values for each column by the total number of rows
# in the DataFrame (len(master_dataframe)) to calculate the fraction of missing values as a percentage.

# * 100: Finally, this part of the code multiplies the fraction by 100 to convert it into a percentage.

# In summary, for each column in master_dataframe, the code counts the number of missing values (NaNs), divides it by the total
# number of rows, and then multiplies by 100 to express it as a percentage. This way, we get the percentage of missing values 
# for each column in the DataFrame.

# Calculate the percentage of missing values for each column
missing_percentage = (master_dataframe.isnull().sum() / len(master_dataframe)) * 100

# missing_percentage is a Pandas Series where the index represents column names, and the values represent the percentage of 
# missing values for each column.
missing_percentage

funding_round_permalink     0.000000
funding_round_type          0.000000
funding_round_code         72.909725
funded_at                   0.000000
raised_amount_usd          17.390321
permalink                   0.064376
name                        0.065246
homepage_url                5.393696
category_list               3.010900
status                      0.064376
country_code                7.578143
state_code                  9.549452
region                      8.873500
city                        8.870891
founded_at                 17.887933
dtype: float64

In [59]:
# Create a DataFrame to display the missing percentage for each column
missing_data = pd.DataFrame({'Column_Name': master_dataframe.columns, 'Missing_Percentage': missing_percentage})

# Sort the DataFrame by missing percentage in descending order
missing_data = missing_data.sort_values(by='Missing_Percentage', ascending=False)

# Print the result
print(missing_data)
#This code calculates the percentage of missing values for each column in the DataFrame, creates a new DataFrame to store the 
# results, and then sorts the results by the missing percentage in descending order. This provides a list of columns and their 
# corresponding missing percentages, allowing you to identify which columns have the most missing data.

                                     Column_Name  Missing_Percentage
funding_round_code            funding_round_code           72.909725
founded_at                            founded_at           17.887933
raised_amount_usd              raised_amount_usd           17.390321
state_code                            state_code            9.549452
region                                    region            8.873500
city                                        city            8.870891
country_code                        country_code            7.578143
homepage_url                        homepage_url            5.393696
category_list                      category_list            3.010900
name                                        name            0.065246
permalink                              permalink            0.064376
status                                    status            0.064376
funding_round_permalink  funding_round_permalink            0.000000
funding_round_type            funding_round_type            0.000000
funded_at                              funded_at            0.000000

In [60]:
len(master_dataframe)

114949

In [61]:
master_dataframe

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114945,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114946,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114947,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114948,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# List of columns to be dropped 
# columns_to_drop = ['funding_round_code']

# Drop the specified columns from the master_dataframe
# master_dataframe = master_dataframe.drop(columns=columns_to_drop)

# Alternatively, we can drop columns in place without reassigning the DataFrame
# master_dataframe.drop(columns=columns_to_drop, inplace=True)

In [63]:
# Calculate the percentage of missing values column-wise
missing_percentage = (master_dataframe.isnull().sum() / len(master_dataframe)) * 100

# Create a DataFrame to display missing percentage
missing_data = pd.DataFrame({'Column Name': master_dataframe.columns,
                             'Missing Percentage': missing_percentage})

# Drop columns with missing percentage above a threshold (e.g., 30%)
threshold = 50
columns_to_drop = missing_data[missing_data['Missing Percentage'] > threshold]['Column Name']
master_dataframe = master_dataframe.drop(columns_to_drop, axis=1)

# Print the updated master_dataframe
display(master_dataframe)

,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,01-03-2014,41313.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114945,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,01-05-2013,32842.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114946,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,01-08-2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114947,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,01-01-2015,18192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114948,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,01-10-2013,14851.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

9. Create a pivot table to compare the mean and median values for ‘raised_amount_usd’ and
‘funding_round_type’ across different funding round categories..

In [64]:
import pandas as pd

# Assuming you have a DataFrame named 'master_dataframe' with the necessary data
# Replace 'master_dataframe' with your actual DataFrame name

# Create a pivot table to calculate mean and median values
pivot_table = master_dataframe.pivot_table(
    values='raised_amount_usd',  # Values to aggregate
    index='funding_round_type',   # Rows
    aggfunc={'raised_amount_usd': ['mean', 'median']}  # Aggregate functions
)

# Print the pivot table
print(pivot_table)

                               mean      median
funding_round_type
angel                  9.586945e+05    400000.0
convertible_note       1.453439e+06    272000.0
debt_financing         1.704353e+07   1100000.0
equity_crowdfunding    5.383682e+05    100000.0
grant                  4.300576e+06    201684.0
non_equity_assistance  4.112031e+05     60000.0
post_ipo_debt          1.687046e+08  19950000.0
post_ipo_equity        8.218249e+07  12262852.5
private_equity         7.330859e+07  20000000.0
product_crowdfunding   1.363131e+06    183915.0
secondary_market       7.964963e+07  32600000.0
seed                   7.198180e+05    275000.0
undisclosed            1.924237e+07   1018680.0
venture                1.174895e+07   5000000.0

10. Filter the master_dataframe on ‘raised_amount_usd’ such as ‘raised_amount_usd’ lie
between 4 Millions to 15 Millions.

In [65]:
# Filter the master_dataframe
filtered_master_df = master_dataframe[(master_dataframe['raised_amount_usd'] >= 4000000) & (master_dataframe['raised_amount_usd'] <= 15000000)]

# Display the filtered DataFrame
filtered_master_df

,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
12,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,19-07-2014,8900000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
21,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,01-02-2015,6000000.0,/ORGANIZATION/1-800-PUBLICRELATIONS-INC-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013
22,/funding-round/b952cbaf401f310927430c97b68162ea,venture,17-03-2015,5000000.0,/ORGANIZATION/1-MAINSTREAM,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012
28,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,09-10-2014,4000000.0,/ORGANIZATION/10-MINUTES-WITH,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114921,/funding-round/85443f5438bfd50104b9591eabc95c94,grant,26-03-2014,7500000.0,/ORGANIZATION/ZYOMYX-INC,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998
114922,/funding-round/b4fce7f8a13267353d57db09099800e8,venture,11-07-2013,14219999.0,/ORGANIZATION/ZYOMYX-INC,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998
114930,/funding-round/c05aab2155e390066d51c6852ff61464,grant,11-09-2009,5400000.0,/ORGANIZATION/ZYRAZ-TECHNOLOGY,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994
114931,/funding-round/e949f077c943db197f20e43c2eb8d0e6,venture,09-10-2009,7991547.0,/ORGANIZATION/ZYRAZ-TECHNOLOGY,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994
114936,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,16-12-2004,8500000.0,/ORGANIZATION/ZYSTOR,Zystor,http://www.zystor.com,Biotechnology,acquired,USA,WI,Milwaukee,Milwaukee,NaN

11. Identify the top 9 countries in terms of highest investment in ‘venture’ fund type.

In [96]:
# Filter the DataFrame for 'venture' fund type
venture_df = master_dataframe[master_dataframe['funding_round_type'] == 'venture']

# Group by 'country_code' and calculate total investment
# Calculate the total investment (sum of 'raised_amount_usd') for each country
country_investment = venture_df.groupby('country_code')['raised_amount_usd'].sum()

# without reset_index(), country_investment becomes a series with country code as index 
# In more recent versions of Pandas (starting from version 1.0.0), the Series.sort_values() method no longer accepts 
# the by parameter. Instead, we should use the DataFrame.sort_values() method when working with a DataFrame.

In [97]:
# Sort by total investment in descending order
country_investment = country_investment.sort_values(by='raised_amount_usd', ascending=False)

TypeError: Series.sort_values() got an unexpected keyword argument 'by'

In [98]:
country_investment.info()

<class 'pandas.core.series.Series'>
Index: 103 entries, ARE to ZAF
Series name: raised_amount_usd
Non-Null Count  Dtype
--------------  -----
103 non-null    float64
dtypes: float64(1)
memory usage: 1.6+ KB

In [99]:
country_investment

country_code
ARE    3.426175e+08
ARG    3.143388e+08
ARM    2.651750e+07
AUS    1.322935e+09
AUT    6.309550e+08
           ...
UKR    1.779246e+07
URY    1.983000e+07
USA    4.225108e+11
VNM    8.138051e+07
ZAF    2.340629e+08
Name: raised_amount_usd, Length: 103, dtype: float64

In [100]:
# Filter the DataFrame for 'venture' fund type
venture_df = master_dataframe[master_dataframe['funding_round_type'] == 'venture']

# Group by 'country_code' and calculate total investment
# Calculate the total investment (sum of 'raised_amount_usd') for each country
country_investment = venture_df.groupby('country_code')['raised_amount_usd'].sum().reset_index()

# reset_index() method is used to reset the index of a DataFrame. When we perform operations on a DataFrame, especially after 
# grouping or filtering, the index may become non-sequential or contain gaps. The reset_index() method is used to reorganize 
# the DataFrame's index and create a new default integer-based index. 
# The old index is added as a new column in the DataFrame.

# The reset_index() method doesn't modify the original DataFrame in place. Instead, it returns a new DataFrame with the reset 
# index. We can assign this new DataFrame to a variable to capture the changes.

In [104]:
# now country_investment is a dataframe
country_investment.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 100 to 67
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country_code       103 non-null    object
 1   raised_amount_usd  103 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.4+ KB

In [105]:
# index is integer and not country_code
country_investment

    country_code  raised_amount_usd
100          USA       4.225108e+11
16           CHN       3.983542e+10
31           GBR       2.024563e+10
41           IND       1.439186e+10
13           CAN       9.583332e+09
..           ...                ...
63           MKD       0.000000e+00
81           PSE       0.000000e+00
9            BHR       0.000000e+00
84           RWA       0.000000e+00
67           MOZ       0.000000e+00

[103 rows x 2 columns]

In [106]:
# Sort by total investment in descending order
country_investment = country_investment.sort_values(by='raised_amount_usd', ascending=False)

# Select the top 9 countries
top_9_countries = country_investment.head(9)

# Print the result
print(top_9_countries)

    country_code  raised_amount_usd
100          USA       4.225108e+11
16           CHN       3.983542e+10
31           GBR       2.024563e+10
41           IND       1.439186e+10
13           CAN       9.583332e+09
30           FRA       7.241142e+09
44           ISR       6.907515e+09
23           DEU       6.345560e+09
47           JPN       3.363677e+09

12. Create the ‘main_category’ column by extracting the main sector using the column ‘category_list’.
Hint - Use the Lambda function or string function.

In [108]:
# To create a new 'main_category' column by extracting the main sector from the 'category_list' column in the master_dataframe, 
# we use the apply method with a lambda function. We need to define a function to extract the main sector based on 
# our specific criteria. Here the 'category_list' column contains a delimited list of categories and we assume that
# the main sector is the first category in the list.

In [109]:
# Define a function to extract the main sector
def extract_main_sector(category_list):
    # Split the category list by the delimiter (e.g., '|') and return the first element as the main sector
    categories = str(category_list).split('|')
    if len(categories) > 0:
        return categories[0]
    else:
        return None  # Return None if there are no categories

# Apply the function to create the 'main_category' column
master_dataframe['main_category'] = master_dataframe['category_list'].apply(extract_main_sector)

# Display the DataFrame with the new 'main_category' column
print(master_dataframe[['category_list', 'main_category']])

                                            category_list  \
0                                                   Media
1       Application Platforms|Real Time|Social Network...
2       Application Platforms|Real Time|Social Network...
3                                       Apps|Games|Mobile
4                                             Curated Web
...                                                   ...
114944        Advertising|Mobile|Web Development|Wireless
114945        Advertising|Mobile|Web Development|Wireless
114946                                                NaN
114947                                                NaN
114948                                                NaN

                main_category
0                       Media
1       Application Platforms
2       Application Platforms
3                        Apps
4                 Curated Web
...                       ...
114944            Advertising
114945            Advertising
114946                    nan
114947                    nan
114948                    nan

[114949 rows x 2 columns]

13. Using the user defined function convert the ‘rasied_amount_used’ column into a categorical
column as follow
a) If the amount is less than 5 Millions then recode as TypeA.
b) If the amount is greater than 5 Millions and less than 7 Millions then recode as TypeB.
c) If the amount is greater than 7 Millions then recode as TypeC.

In [110]:
import pandas as pd

# Assuming you have a DataFrame 'master_dataframe' with 'raised_amount_usd' column
# Replace this with your actual DataFrame

def recode_amount(amount):
    if amount < 5000000:
        return 'TypeA'
    elif 5000000 <= amount < 7000000:
        return 'TypeB'
    else:
        return 'TypeC'

# Apply the custom function to create a new categorical column 'raised_amount_category'
master_dataframe['raised_amount_category'] = master_dataframe['raised_amount_usd'].apply(recode_amount)

# Display the updated DataFrame
display(master_dataframe[['raised_amount_usd', 'raised_amount_category']])

        raised_amount_usd raised_amount_category
0              10000000.0                  TypeC
1                     NaN                  TypeC
2                700000.0                  TypeA
3               3406878.0                  TypeA
4               2000000.0                  TypeA
...                   ...                    ...
114944            41313.0                  TypeA
114945            32842.0                  TypeA
114946                NaN                  TypeC
114947            18192.0                  TypeA
114948            14851.0                  TypeA

[114949 rows x 2 columns]